.interaction{
    display: flex;
    justify-content: space-between;
        
}
.interaction button{
    font-size: 16px;
    background-image: url('/images/gerar-ocorrencia.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: bottom 8px left 5px;
}




