@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Libre+Baskerville:wght@400;700&display=swap');

html,
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}



.content-ctr{
    display: flex;
    
}

.menu-bar{
    height: 100lvh;
    width: 19%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 1px 5px 1px #888888;
    position: fixed;
    left: 0;
    
}

.content{
    width: 100%;
    margin: 0 20px 20px 22%;
}


.content h1{
    font-size: 32px;
    font-weight: 500;
}

.formCtr{
    margin: 0 5%;
}


.radio{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

.radio input[type=radio]{
    accent-color: rgb(61, 61, 97);

}

.inputCtr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.inputCtr p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

select{
    margin-top: 5px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
    border: 1px solid #9B9A9A;
    padding-left: 5px;
    color: #9B9A9A;
}

input{
    margin-top: 5px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
    border: 1px solid #9B9A9A;
    padding-left: 5px;
}

.searchBar{
    width: 300px;
    text-align: center;
    border-radius: 30px;
    border-style: none;
    border: 1px solid #756D6D;
    background-image: url('/images/search.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    display: flex;
    align-items: center;
    background-position: bottom 5px left 10px;
    
}

.buttons a, button{
    border-style: none;
    background-color: #7AAFFF;
    border: 1px solid #3783F4;
    border-radius: 20px;
    height: 30px;
    padding: 0 20px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons a:hover{
    cursor: pointer;
    background-color: #7aafff83;
}

.buttons button:hover{
    cursor: pointer;
    background-color: #7aafff83;
}

.buttons{
    display: flex;
    gap: 20px;
    
}


.table{
    margin-top: 30px;
    border-collapse: collapse;
}



.table th{
    border: 1px solid #756D6D;
    font-size: 14px;
    
}

.table td{
    text-align: center;
    border: 1px solid #756d6d7e;
    padding: 5px;
    font-size: 14px;
}

.table img{
    width: 18px;
}
