.loginScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  
}
.loginImg{
  width: 100lvw;
  height: 100lvh;
  background-image: url('/images/buildings.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locker{
  width: 39px;
  height: 39px;
}

.h1{
  font-size: 32px;
  margin-top: 2px;
}

.form{
  display: flex;
  flex-direction: column;
}

.form label{
  font-size: 16px;
  margin-bottom: 12px;
  
}

.form input{
  border-style: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
  padding-left: 20px;
  
  
}

.userName{
  background-image: url('/images/contact.svg');
  background-repeat: no-repeat;
  padding-bottom: 5px;
  
}



.userPassword{
  background-image: url('/images/password.jpg');
  background-repeat: no-repeat;
  padding-bottom: 5px;
  
}

.loginButton{
  border-style: none;
  background-color: #9AF9F3;
  height: 46px;
  width: 144px;
  border-radius: 25px;
  margin: auto;
  color: rgba(0, 0, 0, 0.44);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  
}

.loginButton:hover{
  cursor: pointer;
  background-color: #9af9f3bb;
}

.forgotPassword{
  margin: 30px auto;
  font-size: 12px;
  color: #1785EB;
  

}

