.vincular{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#search{
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.rightJustify{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.tableSearch{
    display: flex;
    justify-content: flex-end;
}

.tableSearch input{
    width: 200px;
    border-radius: 10px;
    margin-bottom: 0;
}

.vincular table{
    margin-top: 0;
}

#generateContract{
    width: 100px;
}